<div class="tabledataclass">
    <mat-table #tableConv [dataSource]="datasource" matSort>
        <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">
            <mat-header-cell *matHeaderCellDef>
                <div mat-sort-header="{{column}}">
                    {{getType(column).label}}
                </div>

                <br>
                <input type="{{getType(column).inputType}}" (keyup)="applyFilter($event,column)" style="width: 80%;">
                <!-- {{column}} [attr.id]="row.index" -->
            </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="showelement(element)">
                <!-- <div name="NCulmn" style="display: none;" >{{getType(column).name}}-&-</div> -->
                {{element[column]}}
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay;sticky: true"></mat-header-row>
        <mat-row #row [ngStyle]="{'background-color': getColorfind(row) }"
            *matRowDef="let row; columns: columnsToDisplay;">
        </mat-row>
    </mat-table>
</div>